<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <link href="/css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <form method="post" action="/start">
            <input placeholder="wpisz / wklej url" th:name="url"></input>
            <input placeholder="login" th:name="login"></input>
            <input placeholder="password" th:name="password"></input>
            <button type="submit">Ściągnij!</button>
        </form>
    </body>
</html>
